/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
  background-image: url("./images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  color: aliceblue;
  font-family: "Open Sans";
}
.logo {
  width: 8rem;
  margin: 20px 0 40px 30px;
}
.container {
  width: 25rem;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-img {
  width: 100%;
}
.content-header {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  padding: 20px 40px;
  line-height: 2.3rem;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.content {
  font-size: 1.23rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 40px;
}
.register-btn {
  margin: 10px auto;
  width: 14rem;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 5px rgb(71, 69, 69);
  color: hsl(257, 40%, 49%);
}
svg {
  width: 1rem;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.contact {
  text-align: center;
  margin-bottom: 30px;
}
footer {
  text-align: center;
}
@media (min-width: 1440px) {
  .container {
    width: 85%;
    flex-direction: row;
    margin: 0 30px;
    align-items: flex-start;
  }
  .content-container {
    margin-top: 20px;
    justify-content: flex-start;
  }
  .content-header {
    font-size: 2.5rem;
    width: 75%;
    text-align: left;
    line-height: 3.5rem;
  }
  .content {
    text-align: left;
  }
  .register-btn {
    margin: 40px;
  }
  .contact {
    text-align: right;
    margin: 50px;
  }
}

button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
  cursor: pointer;
}
svg:hover {
  fill: hsl(300, 69%, 71%);
  cursor: pointer;
}
